{% extends 'base.html' %}

{% block content %}
<section class="content-header">
   <h1>
     Yapılacak islerimiz var
     <small>..gonullu</small>
   </h1>
</section>
<div style="padding-top: 30px">
</div>
    {% if not user.is_authenticated %}

<div class="callout callout-info">
        <p>İş üstlenmek veya yardım istemek için öncelikle Twitter hesabınız ile giriş yapın!</p>
</div>
    {% endif %}
<section class="col-lg-5 connectedSortable ui-sortable">
{% for ticket in ticketlist %}
     <div class="box"> 
         <div class="box-header with-border">         
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">{{ ticket.title }}
                   {% for tag in ticket.tag.all %}
			<small class="label label-warning">{{ tag.name }}</small>
                   {% endfor %}
              </h3>
              <!-- tools box -->
              <div class="box-tools pull-right">
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{ ticket.short_desc }}
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
                <div class="clearfix">
                    <span class="pull-left">İş no: #{{ ticket.pk }}</span>
                    <small class="pull-right">{{ ticket.progress }}%</small>
                </div>
                <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: {{ ticket.progress }}%;"></div>
                  </div>
          
            </div>
     </div>
     <!-- /.box -->
{% empty %}
<span></span>
<!-- Calendar -->
      <div class="box box-info">
          <div class="box-header ui-sortable-handle">
            <div style="cursor: move;" class="box-header ui-sortable-handle">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Henuz is yok</h3>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <!--The calendar -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
            </div>
          </div>
      </div>
          <!-- /.box -->
{% endfor %}
</section>
{% endblock%}"
