{% load staticfiles %}
<head>
	{% include 'static_base.html' %}
</head>

<body class="skin-blue fixed">
	<header class="header">
		<a href="/" class="logo">Lazımlık</a>
		<nav class="navbar navbar-static-top" role="navigation">
		</nav>
	</header>
	
	<div  class="wrapper row-offcanvas row-offcanvas-left">
		<aside class="left-side sidebar-offcanvas">
			<section class="sidebar">
				<div class="user-panel">
                {% if user and not user.is_anonymous%}
					<div class="pull-left info">
						<p>{{user.get_full_name}}</p>
                        <a href="{% url 'logout' %}"><i class="fa fa-circle text-success"></i>Çıkış Yap</a>
					</div>
                {% else %}
					<div class="pull-left info">
                        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-circle text-success"></i>Twitter ile Baglan</a>
					</div>
                {% endif %}
				</div>

				<ul class="sidebar-menu">
					{% if user and not user.is_anonymous%}
					<li class="active">
          					<a href="#">
                                                        <i class="fa fa-envelope-o"></i>
							<span>Mesajlar</span>
            						<i class="fa fa-angle-left pull-right"></i>
          					</a>
      						<ul class="active">
      						  <li><a href="/messages/inbox"> Gelen Kutusu</a></li>
      						  <li><a href="/messages/sent"> Gönderilenler</a></li>
      						  <li><a href="/messages/write"> Olustur</a></li>
      						  <li><a href="/messages/archives"> Arşiv</a></li>
      						  <li><a href="/messages/trash"> Çöp</a></li>
      						</ul>
      					</li>
					<li class="active">
						<a href="{% url 'create_ticket' %}">
							<i class="fa fa-bolt"></i> 
							<span>Yeni İş Oluştur</span>
						</a>
					</li>
					<li class="active">
						<a href="{% url 'list_my_ticket' %}">
							<i class="fa fa-bolt"></i> 
							<span>İşlerim</span>
						</a>
					</li>
					{% if user.is_staff %}
					<li class="active">
						<a href="{% url 'listmoderationrequests' %}">
							<i class="fa fa-bolt"></i>
							<span>Moderasyondaki isler</span>
						</a>
					</li>
					{% endif %}
					{% endif %}

				</ul>
			</section>
		</aside>
		<aside class="right-side">
			{% block content %}
            {% endblock%}
        </aside>
	</div>


</body>

       
